.ListOfReservations {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListOfReservations__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.ListOfReservations__emptyTitle {
    text-align: center;
}

.LisOfReservations__container {
    width: 100%;
    max-width: 1200px;
}