@import "./Vars.scss";

.ListOfFlights {
    padding: 30px;
}

.ListOfFlights__article {
    padding: 15px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
}

.ListOfFlights__articleContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ListOfFlights__Time {
    text-align: center;
}

.ListOfFlights__buttonContainer {
    grid-column: 1 / 3;
}

.ListOfFlights__button {
    width: calc(100% - 40px);
    margin: 10px 20px;
    padding: 8px;
    background-color: $main-color;
    color: white;
    border-radius: 10px;
    border-color: white;
}

@media (min-width: 550px) {
    .ListOfFlights__articleContent {
        grid-template-columns: 25% 25% 50%;
    }
    .ListOfFlights__buttonContainer {
        grid-column: auto;
        display: flex;
        align-items: center;
    }
}